### Functions

In [26]:
def double(x):
    """
    This is where you put an optional docstring that explains what the
    function does. For example, this function multiplies its input by 2
    """
    return x * 2

In [27]:
def apply_to_one(f):
    
    """Calls the function f with 1 as its argument"""
    return f(1)

In [28]:
y =double(1)
print(y)

2

In [29]:
my_double = double
x = apply_to_one(my_double) # equals 2
print(x)

2

In [30]:
# lambda functions
y = apply_to_one(lambda x: x + 4) # equals 5
y

5

In [31]:
another_double = lambda x : 2 * x # dont do this

def another_double(x):
    """Do this instead"""
    return 2 * x

In [32]:
def my_print(message = ' my default message'):
    print(message)

In [33]:
my_print('hello') # print hello

hello

In [34]:
my_print() # prints 'my default message'

 my default message

In [35]:
def full_name(first = "what's-his-name", last = "Something"):
    return first + " " + last

In [36]:
full_name("Joel", "Grus") # 'Joel Grus'

'Joel Grus'

In [37]:
full_name("joel") # 'Joel Something'

'joel Something'

In [38]:
full_name(last = 'Grus') # 'What's-his-name Grus'

"what's-his-name Grus"

### Strings

In [39]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [40]:
tab_string = "\t" # represents the tab characters
tab_string

'\t'

In [41]:
len(tab_string) # is 1

1

In [42]:
not_tab_string = r"\t" # represents the characters '\' and 't'
not_tab_string

'\\t'

In [43]:
len(not_tab_string) # is 2

2

In [44]:
multi_line_string = """This is the first line.
    and this is the second line
    and this is the third line"""
multi_line_string

'This is the first line.\n    and this is the second line\n    and this is the third line'

In [45]:
first_name = "joel"
last_name = 'Grus'

In [46]:
full_name1 = first_name + " " + last_name # string addition
full_name1

'joel Grus'

In [47]:
full_name2 = "{0} {1}".format(first_name, last_name) # string.format
full_name2

'joel Grus'

In [48]:
full_name3 = f"{first_name} {last_name}"
full_name3

'joel Grus'

### Exceptions

In [49]:
try:
    print(0/0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

### Lists

In [50]:
integer_list = [1, 2, 3]
integer_list

[1, 2, 3]

In [51]:
heterogeneous_list = ["string", 0.1, True]
heterogeneous_list

['string', 0.1, True]

In [52]:
list_of_lists = [integer_list, heterogeneous_list, []]
list_of_lists

[[1, 2, 3], ['string', 0.1, True], []]

In [53]:
list_length = len(integer_list) # equals 3
list_length

3

In [54]:
list_sum = sum(integer_list) # equals 6
list_sum

6

In [55]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
zero = [0] # equals 0, lists are 0-indexed
zero

[0]

In [57]:
one = x[1]
one    # equals 1

1

In [58]:
nine = x[-1] # equals 9, 'Pythonic ' for the last element
nine

9

In [59]:
eight = x[-2] # equals 8, "pythonic" for next-to-last element
eight

8

In [60]:
x[0] = -1   # now x is [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x[0]

-1

In [64]:
first_three = x[:3] # [-1, 1, 2]
first_three

[-1, 1, 2]

In [65]:
three_to_end = x[3:] # [3, 4, ......., 9]
three_to_end

[3, 4, 5, 6, 7, 8, 9]

In [66]:
one_to_four = x[1:5] # [1, 2, 3, 4]
one_to_four

[1, 2, 3, 4]

In [67]:
last_three = x[-3:] # [7, 8, 9]
last_three

[7, 8, 9]

In [68]:
without_first_and_last = x[1:-1] # [1, 2, ..., 8]
without_first_and_last

[1, 2, 3, 4, 5, 6, 7, 8]

In [69]:
copy_of_x = x[:] # [-1, 1, 2, ..., 9]
copy_of_x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
every_thrid = x[::3] # [-1, 3, 6, 9]
every_thrid

[-1, 3, 6, 9]

In [72]:
five_to_three = x[5:2:-1] # [5, 4,  3]
five_to_three

[5, 4, 3]

In [73]:
# python has in operator to check the list membership

1 in [1, 2, 3] # True

True

In [74]:
0 in [1, 2, 3] # False

False

In [77]:
# we can use extend to add items from  another collection
x = [1, 2, 3]
x

[1, 2, 3]

In [78]:
x.extend([4, 5, 6]) # x is now [1, 2, 3, 4, 5, 6]
x

[1, 2, 3, 4, 5, 6]

In [80]:
# instead modfiying we can use list addition
x = [1, 2, 3]
y = x + [4, 5, 6]
y

[1, 2, 3, 4, 5, 6]

In [81]:
# most frequently we append the list one item at a time

x = [1, 2, 3]
x.append(0) # x is now [1, 2, 3, 0]
x

[1, 2, 3, 0]

In [83]:
y = x[-1]  #equals 0
y

0

In [85]:
z = len(x) # equals 4
z

4

In [87]:
# unpacked list
x, y = [1, 2]  # now x is 1, y is 2
x

1

In [88]:
y

2

In [89]:
# common idiom is to use an underscore for a value throw away
_, y = [1, 2] # now y == 2, didn't care about the first element
y

2

In [90]:
_

1

### Tuples

In [91]:
my_list = [1, 2]
my_list

[1, 2]

In [92]:
my_tuple = (1, 2)
my_tuple

(1, 2)

In [93]:
other_tuple = 3, 4
other_tuple

(3, 4)

In [95]:
my_list[1] = 3 # my_list is now [1, 3]
my_list

[1, 3]

In [96]:
try:
    my_tuple[1] = 3
except TypeError:
    print('Cannot modify a tuple')

Cannot modify a tuple

In [97]:
# tuples are a convenient way to return multiple values from functions

def sum_and_product (x, y):
    return (x + y), (x * y)

In [99]:
sp = sum_and_product(2, 3)
sp

(5, 6)

In [100]:
s, p = sum_and_product(5, 10)
s, p

(15, 50)

In [101]:
# Tuples (and lists) can also be used for multiple assignemnt

x, y = 1, 2  # now x is 1, y is 2
x, y

(1, 2)

In [102]:
x, y = y, x # Pythonic way to swap variables; now x is 2, y is 1
x, y

(2, 1)

### Dictonaries

In [104]:
empty_dict = {} # Pythonic
empty_dict

{}

In [106]:
empty_dict2 = dict() # less Pythonic
empty_dict2

{}

In [107]:
grades = {'Joel': 80, 'Tim': 95} # dictionary literal
grades

{'Joel': 80, 'Tim': 95}

In [108]:
joels_grade = grades['Joel']
joels_grade

80

In [109]:
# We get KeyError if we ask for a key that's not in the dictionary

try:
    kates_grade = grades['Kate']
except KeyError:
    print(' no grade for Kate!')

 no grade for Kate!

In [111]:
# we can check for the existence of a key using in

joel_has_grade = 'Joel' in grades # True
joel_has_grade

True

In [112]:
kate_has_grade = 'Kate' in grades # false
kate_has_grade

False

In [113]:
# Dictionay have a get method that returns a default value(instead of raising an exception)

grades['Tim'] = 99 # replace the old value
grades

{'Joel': 80, 'Tim': 99}

In [114]:
grades['Kate'] = 100 # add a third entry
grades

{'Joel': 80, 'Tim': 99, 'Kate': 100}

In [115]:
num_students = len(grades)
num_students

3

In [118]:
# we can use dictionaries to represent structured data

tweet = {
            "user" : "joelgrus",
            "text" : "Data Science is Awesome",
            "retweet_count" : 100, 
            "hashtags" : ["data", "sciecne", "datascience", "#Awesome", "#yolo"]
}

tweet

{'user': 'joelgrus',
 'text': 'Data Science is Awesome',
 'retweet_count': 100,
 'hashtags': ['data', 'sciecne', 'datascience', '#Awesome', '#yolo']}

In [120]:
tweet_keys = tweet.keys()
tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [121]:
tweet_values = tweet.values()
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['data', 'sciecne', 'datascience', '#Awesome', '#yolo']])

In [130]:
tweet_items = tweet.items() # Iterable for the (key, value) tuples
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['data', 'sciecne', 'datascience', '#Awesome', '#yolo'])])

In [127]:
"user" in tweet_keys # True, but not Pythonic

True

In [128]:
"user" in tweet # Pythonic way of chekcing for keys

True

In [129]:
"joelgrus" in tweet_values # True (slow but the only way to check)

True

### defauldict

In [135]:
# Imagine that you’re trying to count the words in a document. An obvious approach is to create a dictionary in which 
# the keys are words and the values are counts. As you check each word, you can increment its count if it’s already in 
# the dictionary and add it to the dictionary if it’s not:


# # word_counts = {}
# # for word in document:
# #     if word in word_counts:
# #         word_counts[word] += 1
# #     else:
# #         word_counts[word] = 1

In [136]:
# You could also use the “forgiveness is better than permission” approach and just handle the exception from trying 
# to look up a missing key:
    
# word_counts = {}
# for word in document:
# try:
# word_counts[word] += 1
# except KeyError:
# word_counts[word] = 1

In [137]:
# A third approach is to use get, which behaves gracefully for missing keys:
    
# word_counts = {}
# for word in document:
# previous_count = word_counts.get(word, 0)
# word_counts[word] = previous_count + 1

**A defaultdict is like a regular dictionary, except that when you try
to look up a key it doesn’t contain, it first adds a value for it using a zero-
argument function you provided when you created it. In order to use
defaultdicts, you have to import them from collections:**

In [139]:
# from collections import defaultdict

# word_counds = defaultdict(int) # int() produces 0
# for word in document:
#     word_counts[word] += 1

In [140]:
# They can also be useful with list or dict, or even your own functions:

# dd_list = defaultdict(list) # list() produces an empty list

# dd_list[2].append(1) # now dd_list contains {2: [1]}

# dd_dict = defaultdict(dict) # dict() produces an empty dict

# dd_dict["Joel"]["City"] = "Seattle" # {"Joel" : {"City": Seattle"}}

# dd_pair = defaultdict(lambda: [0, 0])

# # dd_pair[2][1] = 1 # now dd_pair contains {2: [0, 1]}

### Counters

**A Counter turns a sequence of values into a defaultdict(int)-like object
mapping keys to counts:**

In [142]:
from collections import Counter

c = Counter([0, 1, 2, 0]) # c is (basically) {0: 2, 1: 1, 2: 1}
c

Counter({0: 2, 1: 1, 2: 1})

In [145]:
# # This gives us a very simple way to solve our word_counts problem:
    
# # recall, document is a list of words
# word_counts = Counter(document)

In [148]:
# A Counter instance has a most_common method that is frequently useful:
    
# print the 10 most common words and their counts
# for word, count in word_counts.most_common(10):
#      print(word, count)

### Sets

In [149]:
# Another useful data structure is set, which represents a collection of distinct
# elements. You can define a set by listing its elements between curly braces

primes_below_10 = {2, 3, 5, 7}
primes_below_10

{2, 3, 5, 7}

In [150]:
# However, that doesn’t work for empty sets, as {} already means “empty
# dict.” In that case you’ll need to use set() itself:

s = set()
s

set()

In [152]:
s.add(1) # s is now {1}
s

{1}

In [153]:
s.add(2) # s is now {1, 2}
s

{1, 2}

In [154]:
s.add(2) # s is still {1, 2}
s

{1, 2}

In [155]:
x = len(s) # equals 2
x

2

In [156]:
y = 2 in s # equals 2
y

True

In [157]:
z = 3 in s # equals False
z

False

**We’ll use sets for two main reasons.**

The first is that in is a very fast operation on sets. If we have a large collection of items that we want to use
for a membership test, a set is more appropriate than a list:

In [ ]:
stopwords_list = ["a", "an", "at"] + hundreds_of_other_words + ["yet", "you"]

"zip" in stopwords_list # False, but have to check every element

stopwords_set = set(stopwords_list)
"zip" in stopwords_set # very fast to check

The second reason is to find the distinct items in a collection:

In [159]:
item_list = [1, 2, 3, 1, 2, 3]
item_list

[1, 2, 3, 1, 2, 3]

In [160]:
num_items = len(item_list) # 6
num_items

6

In [161]:
item_set = set(item_list) # {1, 2, 3}
item_set

{1, 2, 3}

In [162]:
num_distinct_items = len(item_set) # 3
num_distinct_items

3

In [163]:
distinct_item_list = list(item_set) # [1, 2, 3]
distinct_item_list

[1, 2, 3]

In [164]:
### Control Flow

if 1 >  2:
    message = "if only 1 were greater that two..."
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else (if you want to)"

In [165]:
# You can also write a ternary if-then-else on one line, which we will do occasionally

parity = "even" if x % 2 == 0 else "odd"

In [ ]:
# while loop

x = 0
while x < 10:
    print(f"{x} is less than 10")

In [167]:
# although more often we’ll use for and in:

for x in range (10):
    if x == 3:
        continue # go immediately to the next iteration
    if x == 5:
        break # quit the loop entirely
print(x)

5

### Truthiness

In [171]:
one_is_less_than_two = 1 < 2 # equals True
one_is_less_than_two

True

In [172]:
true_equals_false = True == False # equals False
true_equals_false

False

In [175]:
# Python uses the value None to indicate a nonexistent value. It is similar to other languages’ null:

x = None

assert x == None, "this is the not the Pythonic way to check for None"

In [176]:
assert x is None, "this is the Pythonic way to check for None"

### Sorted

In [180]:
x = [4, 1, 2, 3]

x

[4, 1, 2, 3]

In [181]:
y = sorted(x) # y is [1, 2, 3, 4],  x is unchanged

y

[1, 2, 3, 4]

In [183]:
x.sort() # now x is [1, 2, 3, 4]

x

[1, 2, 3, 4]

In [185]:
# sort the list by absolute value from largest to smallest

x = sorted([-4, 1, -2, 3], key=abs, reverse=True) # is [-4, 3, -2, 1]

x

[-4, 3, -2, 1]

In [186]:
# sort the words and counts from highest count to lowest

wc = sorted(word_counts.items(),key=lambda word_and_count: word_and_count[1],reverse=True)

wc

[]

### List Comprehensions

In [1]:
# Frequently, you’ll want to transform a list into another list by choosing only
# certain elements, by transforming elements, or both. The Pythonic way to
# # do this is with list comprehensions

In [3]:
even_numbers = [x for x in range (5) if x % 2 == 0] # [0, 2, 4]
even_numbers

[0, 2, 4]

In [4]:
squares = [x * x for x in range (5)] # [0, 1, 4, 9, 16]
squares

[0, 1, 4, 9, 16]

In [5]:
even_squares = [x * x for x in even_numbers] # [0, 4, 16]
even_squares

[0, 4, 16]

In [6]:
# You can similarly turn lists into dictionaries or sets

In [7]:
square_dict = { x : x * x for x in range (5)} # { 0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [9]:
square_set = {x * x for x in [1, -1]} # {1}
square_set

{1}

In [10]:
# If you don’t need the value from the list, it’s common to use an underscore
# as the variable:

In [12]:
zeros = [0 for _ in even_numbers] # has the same length as even_nunbers
zeros

[0, 0, 0]

In [16]:
# A list comprehension can include multiple fors:
pairs = [(x, y)
        for x in range(10)
        for y in range(10)] # 100 pairs (0,0) (0,1) ... (9, 8) (9, 9)
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [15]:
# and later fors can use the results of earlier ones:

pairs = [(x, y)                       # only pairs with x < y,
        for x in range (10)           # range (lo, hi) equals
        for y in range (x + 1, 10)]   # [lo, lo + 1, .., hi - 1]
pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

### Automated Testing and assert

There are elaborate frameworks for writing and running tests, but in this
book we’ll restrict ourselves to using assert statements, which will cause
your code to raise an AssertionError if your specified condition is not
truthy:

In [17]:
assert 1 + 1 == 2
assert 1 + 1 == 2, "1 + 1 should equal 2 but didin't"

# There are elaborate frameworks for writing and running tests, but in this
# book we’ll restrict ourselves to using assert statements, which will cause
# your code to raise an AssertionError if your specified condition is not
# truthy:

In [18]:
# It’s not particularly interesting to assert that 1 + 1 = 2. What’s more
# interesting is to assert that functions you write are doing what you expect
# them to:

def smallest_item (xs):
    return min(xs)

In [19]:
assert smallest_item([10, 20, 5, 40]) == 5

In [20]:
assert smallest_item ([1, 0, -1, 2]) == -1

Throughout the book we’ll be using assert in this way. It is a good
practice, and I strongly encourage you to make liberal use of it in your own
code. (If you look at the book’s code on GitHub, you will see that it
contains many, many more assert statements than are printed in the book.
This helps me be confident that the code I’ve written for you is correct.)
Another less common use is to assert things about inputs to functions:

In [21]:
def smallest_item (xs):
    assert xs, "empty list has no smallest item"
    return min(xs)

### Object-Oriented Programming

Here we’ll construct a class representing a “counting clicker,” the sort that
is used at the door to track how many people have shown up for the
“advanced topics in data science” meetup.
It maintains a count, can be clicked to increment the count, allows you to
read_count, and can be reset back to zero. (In real life one of these rolls
over from 9999 to 0000, but we won’t bother with that.)

In [ ]:
# To define a class, you use the class keyword and a PascalCase name:

class CountingClicker:
    """A class can/should have a docstring, just like a function"""

A class contains zero or more member functions. By convention, each takes
a first parameter, self, that refers to the particular class instance.
Normally, a class has a constructor, named __init__. It takes whatever
parameters you need to construct an instance of your class and does
whatever setup you need:

In [ ]:
def __init__(self, count = 0):
    self.count = count

In [ ]:
# Although the constructor has a funny name, we construct instances of the
# clicker using just the class name:

clicker1 = CountingClicker()  # initialized to 0
clicker2 = CountingClicker(100) # starts with count = 100
clicker3 = CountingClicker(count = 100) # more explicit way of doing the same

Another such method is __repr__, which produces the string representation
of a class instance:

And finally we need to implement the public API of our class:

In [23]:
class CountingClicker:
    """A class can/should have a docstring, just like a function"""

    def __init__(self, count = 0):
        self.count = count

    def __repr__(self):
        return f"CountingClicker(count={self.count})"

    def click(self, num_times = 1):
        """Click the clicker some number of times."""
        self.count += num_times

    def read(self):
        return self.count

    def reset(self):
        self.count = 0

clicker = CountingClicker()
assert clicker.read() == 0, "clicker should start with count 0"
clicker.click()
clicker.click()
assert clicker.read() == 2, "after two clicks, clicker should have count 2"
clicker.reset()
assert clicker.read() == 0, "after reset, clicker should be back to 0"

We’ll also occasionally create subclasses that inherit some of their
functionality from a parent class. For example, we could create a non-resetable clicker by using CountingClicker as the base class and overriding the
reset method to do nothing

In [24]:
# A subclass inherits all the behavior of its parent class.
class NoResetClicker(CountingClicker):
    # This class has all the same methods as CountingClicker

    # Except that it has a reset method that does nothing.
    def reset(self):
        pass

clicker2 = NoResetClicker()
assert clicker2.read() == 0
clicker2.click()
assert clicker2.read() == 1
clicker2.reset()
assert clicker2.read() == 1, "reset shouldn't do anything"

### Iterables and Generators

Often all we need is to iterate over the collection using for and in. In this
case we can create generators, which can be iterated over just like lists but
generate their values lazily on demand.
One way to create generators is with functions and the yield operator:

In [28]:
def generate_range(n): 
    i = 0
    while i < n:
        yield i # every call to yield produces a value of the generator
        i += 1

The following loop will consume the yielded values one at a time until
none are left:

In [26]:
for i in generate_range(10):
    print(f"i: {i}")

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

(In fact, range is itself lazy, so there’s no point in doing this.)
With a generator, you can even create an infinite sequence:

In [29]:
def natural_numbers():
    """returns 1, 2, 3, ..."""
    n = 1
    while True:
        yield n
        n += 1

although you probably shouldn’t iterate over it without using some kind of
break logic.

In [30]:
def generate_range(n):
    i = 0
    while i < n:
        yield i   # every call to yield produces a value of the generator
        i += 1

for i in generate_range(10):
    print(f"i: {i}")

def natural_numbers():
    """returns 1, 2, 3, ..."""
    n = 1
    while True:
        yield n
        n += 1

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

A second way to create generators is by using for comprehensions wrapped
in parentheses:

In [32]:
evens_below_20 = (i for i in generate_range(20) if i % 2 == 0)

Such a “generator comprehension” doesn’t do any work until you iterate
over it (using for or next). We can use this to build up elaborate dataprocessing pipelines:

In [33]:
# None of these computations *does* anything until we iterate
data = natural_numbers()
evens = (x for x in data if x % 2 == 0)
even_squares = (x ** 2 for x in evens)
even_squares_ending_in_six = (x for x in even_squares if x % 10 == 6)
# and so on

In [34]:
names = ["Alice", "Bob", "Charlie", "Debbie"]

# not Pythonic
for i in range(len(names)):
    print(f"name {i} is {names[i]}")

# also not Pythonic
i = 0
for name in names:
    print(f"name {i} is {names[i]}")
    i += 1

# Pythonic
for i, name in enumerate(names):
    print(f"name {i} is {name}")

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie
name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie
name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

### Randomness

In [37]:
import random
random.seed(10)  # this ensures we get the same results every time

four_uniform_randoms = [random.random() for _ in range(4)]
# [0.5714025946899135, # random.random() produces numbers
# 0.4288890546751146, # uniformly between 0 and 1.
# 0.5780913011344704, # It's the random function we'll use
# 0.20609823213950174] # most often.
four_uniform_randoms

[0.5714025946899135,
 0.4288890546751146,
 0.5780913011344704,
 0.20609823213950174]

The random module actually produces pseudorandom (that is,
deterministic) numbers based on an internal state that you can set with
random.seed if you want to get reproducible results:

In [38]:
random.seed(10) # set the seed to 10
print(random.random()) # 0.57140259469
random.seed(10) # reset the seed to 10
print(random.random()) # 0.57140259469 again

0.5714025946899135
0.5714025946899135

We’ll sometimes use random.randrange, which takes either one or two
arguments and returns an element chosen randomly from the corresponding
range:

In [40]:
random.randrange(10) # choose randomly from range(10) = [0, 1, ..., 9]

9

In [41]:
random.randrange(3, 6) # choose randomly from range(3, 6) = [3, 4, 5]

3

**random.shuffle** randomly reorders the elements of a list:

In [42]:
up_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(up_to_ten)
print(up_to_ten)
# [7, 2, 6, 8, 9, 4, 10, 1, 3, 5] (your results will probably be different)

[10, 5, 6, 1, 2, 3, 7, 9, 8, 4]

If you need to randomly pick one element from a list, you can use
**random.choice:**

In [44]:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"]) # "Bob" for me
my_best_friend

'Alice'

And if you need to randomly choose a sample of elements without
replacement (i.e., with no duplicates), you can use **random.sample**

In [46]:
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6) # [16, 36, 10, 6, 25, 9]
winning_numbers

[38, 22, 24, 26, 18, 52]

To choose a sample of elements with replacement (i.e., allowing duplicates),
you can just make multiple calls to **random.choice:**

In [47]:
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
print(four_with_replacement) # [9, 4, 4, 2]

[4, 7, 2, 4]

### Regular Expressions

In [48]:
import re

re_examples = [                        # all of these are true, because
    not re.match("a", "cat"),              #  'cat' doesn't start with 'a'
    re.search("a", "cat"),                 #  'cat' has an 'a' in it
    not re.search("c", "dog"),             #  'dog' doesn't have a 'c' in it
    3 == len(re.split("[ab]", "carbs")),   #  split on a or b to ['c','r','s']
    "R-D-" == re.sub("[0-9]", "-", "R2D2") #  replace digits with dashes
    ]

assert all(re_examples), "all the regex examples should be True"

One important thing to note is that **re.match** checks whether the beginning
of a string matches a regular expression, while **re.search** checks whether
any part of a string matches a regular expression. At some point you will
mix these two up and it will cause you grief

### Zip and Argument Unpacking

Often we will need to zip two or more iterables together. The zip function
transforms multiple iterables into a single iterable of tuples of
corresponding function:`

In [49]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

# zip is lazy, so you have to do something like the following
[pair for pair in zip(list1, list2)] # is [('a', 1), ('b', 2), ('c', 3)]

[('a', 1), ('b', 2), ('c', 3)]

If the lists are different lengths, **zip** stops as soon as the first list ends.

You can also “unzip” a list using a strange trick:

In [52]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)
letters, numbers

(('a', 'b', 'c'), (1, 2, 3))

The asterisk **(*)** performs argument unpacking, which uses the elements of
pairs as individual arguments to zip. It ends up the same as if you’d
called:

In [54]:
letters, numbers = zip(('a', 1), ('b', 2), ('c', 3))
letters, numbers

(('a', 'b', 'c'), (1, 2, 3))

You can use argument unpacking with any function:

In [57]:
def add(a, b): return a + b

add(1, 2)      # returns 3

3

In [58]:
try:
    add([1, 2])
except TypeError:
    print("add expects two inputs")
    
add(*[1, 2]) # returns 3

add expects two inputs

3

### args and kwargs

Let’s say we want to create a higher-order function that takes as input some
function f and returns a new function that for any input returns twice the
value of f:

In [60]:
def doubler(f):
    # Here we define a new function that keeps a reference to f
    def g(x):
        return 2 * f(x)

    # And return that new function.
    return g

This works in some cases:

In [61]:
def f1(x):
    return x + 1

g = doubler(f1)
assert g(3) == 8,  "(3 + 1) * 2 should equal 8"
assert g(-1) == 0, "(-1 + 1) * 2 should equal 0"

However, it doesn’t work with functions that take more than a single
argument:

In [62]:
def f2(x, y):
    return x + y

g = doubler(f2)
try:
    g(1, 2)
except TypeError:
    print("as defined, g only takes one argument")

as defined, g only takes one argument

What we need is a way to specify a function that takes arbitrary arguments.
We can do this with argument unpacking and a little bit of magic:

In [63]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

magic(1, 2, key="word", key2="word2")

# prints
#  unnamed args: (1, 2)
#  keyword args: {'key': 'word', 'key2': 'word2'}

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}